<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>product-optical</title>

    <%- include('./layout/typography'); -%>
    
  </head>
  <body>
    <header>
      
      <%- include('./layout/nav'); -%>
    
      <div class="product-nav-wrap container">
        <ul class="product-nav row no-gutter">
          <li class="product-nav__item col-4">
            <a class="product-nav__link text-upper py-6 pt-md-4 pb-md-4" href="product-optical.html">OPTICAL</a>
            <span class="product-nav__item--hover active"></span>
          </li>
          <li class="product-nav__item col-4">
            <a class="product-nav__link text-upper py-6 pt-md-4 pb-md-4" href="product-sunglasses.html">SUNGLASSES</a>
            <span class="product-nav__item--hover"></span>
          </li>
          <li class="product-nav__item col-4">
            <a class="product-nav__link text-upper py-6 pt-md-4 pb-md-4" href="#">FUNCTIONAL</a>
            <span class="product-nav__item--hover"></span>
          </li>
        </ul>
      </div>
      <div class="product-banner d-flex">
        <div class="w-50">
          <img class="d-md-none d-sm-none" src="/assets/images/product-header-1.png" alt="product-banner-1">
          <img class="d-none d-md-block d-sm-block" src="/assets/images/product-header-sm-1.png" alt="product-banner-sm-1">
        </div>
        <div class="w-50">
          <img class="d-md-none d-sm-none" src="/assets/images/product-header-2.png" alt="product-banner-2">
          <img class="d-none d-md-block d-sm-block" src="/assets/images/product-header-sm-2.png" alt="product-banner-sm-2">
        </div>
      </div>
    </header>

    <main>
      <section class="container py-20  py-sm-16">
        <h2 class="secondary-title text-center">Celluloid Combi</h2>
        <h3 class="secondary-subtitle text-center mb-8 mb-md-6">賽璐珞鈦金屬混合鏡框</h3>
        <ul class="card-wrap row">
          <li class="card card--hover col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card__img">
              <img src="/assets/images/product-1.png" alt="product-1">
            </div>
            <div class="card__body">
              <h3 class="card__title d-flex jc-sb">BJ41600S<span class="text-primary fw-medium">NTD3,490</span></h3>
              <a href="#" class=" product-color-type-1 me-2"></a>
              <a href="#" class=" product-color-type-2"></a>
            </div>
          </li>
          <li class="card card--hover col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card__img">
              <img src="/assets/images/product-2.png" alt="product-2">
            </div>
            <div class="card__body">
              <h3 class="card__title d-flex jc-sb">BJ41600S<span class="text-primary fw-medium">NTD3,490</span></h3>
              <a href="#" class=" product-color-type-1 me-2"></a>
              <a href="#" class=" product-color-type-2"></a>
            </div>
          </li>
          <li class="card card--hover col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card__img">
              <img src="/assets/images/product-3.png" alt="product-3">
            </div>
            <div class="card__body">
              <h3 class="card__title d-flex jc-sb">BJ41600S<span class="text-primary fw-medium">NTD3,490</span></h3>
              <a href="#" class=" product-color-type-1 me-2"></a>
              <a href="#" class=" product-color-type-2"></a>
            </div>
          </li>
          <li class="card card--hover col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card__img">
              <img src="/assets/images/product-4.png" alt="product-4">
            </div>
            <div class="card__body">
              <h3 class="card__title d-flex jc-sb">BJ41600S<span class="text-primary fw-medium">NTD3,490</span></h3>
              <a href="#" class=" product-color-type-1 me-2"></a>
              <a href="#" class=" product-color-type-2"></a>
            </div>
          </li>
          <li class="card card--hover col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card__img">
              <img src="/assets/images/product-5.png" alt="product-5">
            </div>
            <div class="card__body">
              <h3 class="card__title d-flex jc-sb">BJ41600S<span class="text-primary fw-medium">NTD3,490</span></h3>
              <a href="#" class=" product-color-type-1 me-2"></a>
              <a href="#" class=" product-color-type-2"></a>
            </div>
          </li>
          <li class="card card--hover d-sm-none col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card__img">
              <img src="/assets/images/product-6.png" alt="product-6">
            </div>
            <div class="card__body">
              <h3 class="card__title d-flex jc-sb">BJ41600S<span class="text-primary fw-medium">NTD3,490</span></h3>
              <a href="#" class=" product-color-type-1 me-2"></a>
              <a href="#" class=" product-color-type-2"></a>
            </div>
          </li>
          <li class="card card--hover d-sm-none col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card__img">
              <img src="/assets/images/product-1.png" alt="product-1">
            </div>
            <div class="card__body">
              <h3 class="card__title d-flex jc-sb">BJ41600S<span class="text-primary fw-medium">NTD3,490</span></h3>
              <a href="#" class=" product-color-type-1 me-2"></a>
              <a href="#" class=" product-color-type-2"></a>
            </div>
          </li>
          <li class="card card--hover d-sm-none col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card__img">
              <img src="/assets/images/product-2.png" alt="product-2">
            </div>
            <div class="card__body">
              <h3 class="card__title d-flex jc-sb">BJ41600S<span class="text-primary fw-medium">NTD3,490</span></h3>
              <a href="#" class=" product-color-type-1 me-2"></a>
              <a href="#" class=" product-color-type-2"></a>
            </div>
          </li>
          <li class="card card--hover d-sm-none col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card__img">
              <img src="/assets/images/product-3.png" alt="product-3">
            </div>
            <div class="card__body">
              <h3 class="card__title d-flex jc-sb">BJ41600S<span class="text-primary fw-medium">NTD3,490</span></h3>
              <a href="#" class=" product-color-type-1 me-2"></a>
              <a href="#" class=" product-color-type-2"></a>
            </div>
          </li>
          <li class="card card--hover d-sm-none col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card__img">
              <img src="/assets/images/product-4.png" alt="product-4">
            </div>
            <div class="card__body">
              <h3 class="card__title d-flex jc-sb">BJ41600S<span class="text-primary fw-medium">NTD3,490</span></h3>
              <a href="#" class=" product-color-type-1 me-2"></a>
              <a href="#" class=" product-color-type-2"></a>
            </div>
          </li>
          <li class="card card--hover d-md-none col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card__img">
              <img src="/assets/images/product-5.png" alt="product-5">
            </div>
            <div class="card__body">
              <h3 class="card__title d-flex jc-sb">BJ41600S<span class="text-primary fw-medium">NTD3,490</span></h3>
              <a href="#" class=" product-color-type-1 me-2"></a>
              <a href="#" class=" product-color-type-2"></a>
            </div>
          </li>
          <li class="card card--hover d-md-none col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6">
            <div class="card__img">
              <img src="/assets/images/product-6.png" alt="product-6">
            </div>
            <div class="card__body">
              <h3 class="card__title d-flex jc-sb">BJ41600S<span class="text-primary fw-medium">NTD3,490</span></h3>
              <a href="#" class=" product-color-type-1 me-2"></a>
              <a href="#" class=" product-color-type-2"></a>
            </div>
          </li>
        </ul>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link page-link--prev" href="#">上一頁</a>
          </li>
          <li class="page-item active">
            <a class="page-link active" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">5</a>
          </li>
          <li class="page-item">
            <a class="page-link page-link--next" href="#">下一頁</a>
          </li>
        </ul>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
